[Unit]
Description=Filebrowser
After=network-online.target
Wants=network-online.target systemd-networkd-wait-online.service

[Service]
Restart=on-abnormal

User=s_filebrowser
Group=s_filebrowser
ExecStart=/usr/local/bin/filebrowser -c /etc/filebrowser -d /etc/filebrowser/filebrowser.db -r /opt/sync
Restart=on-failure

WorkingDirectory=/etc/filebrowser
ReadWritePaths=/etc/filebrowser
ProtectSystem=full
PrivateTmp=true
PrivateDevices=true
ProtectHome=true
SystemCallArchitectures=native
MemoryDenyWriteExecute=true
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target