[Unit]
Description=Syncthing - Open Source Continuous File Synchronization for %I
Documentation=man:syncthing(1)
After=network.target

[Service]
User=s_syncthing
Group=s_syncthing
ExecStart=/usr/bin/syncthing -no-browser -no-restart -home=/etc/syncthing -logflags=0
Restart=on-failure
SuccessExitStatus=3 4
RestartForceExitStatus=3 4

WorkingDirectory=/etc/syncthing
ReadWritePaths=/etc/syncthing
ProtectSystem=full
PrivateTmp=true
PrivateDevices=yes
ProtectHome=true
SystemCallArchitectures=native
MemoryDenyWriteExecute=true
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target
